In [1]:
from box import ConfigBox

In [2]:
d2 = ConfigBox({"key":"val", "key1":"val1"})

In [3]:
d2.key1

'val1'

In [5]:
# ensure annotations 

def get_product(x:int, y:int) -> int:
    return x*y

In [6]:
get_product(x=2, y=3)

6

In [7]:
get_product(x=2, y="3")

'33'

In [9]:
from ensure import ensure_annotations

In [10]:
@ensure_annotations
def get_product_1(x:int, y:int) -> int:
    return x*y

In [11]:
get_product_1(x=2, y="3")

EnsureError: Argument y of type <class 'str'> to <function get_product_1 at 0x10b0faa20> does not match annotation type <class 'int'>

# Embedding

In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Example dataset
data = pd.DataFrame({'Cities': ['New York', 'Mumbai', 'London', 'Paris', 'Mumbai', 'London']})

# Encode categorical variable to integers
label_encoder = LabelEncoder()
data['City_Encoded'] = label_encoder.fit_transform(data['Cities'])

In [5]:
data.head()

     Cities  City_Encoded
0  New York             2
1    Mumbai             1
2    London             0
3     Paris             3
4    Mumbai             1

In [7]:
print(label_encoder.classes_)

['London' 'Mumbai' 'New York' 'Paris']